/* Style the header */
.header {
    background-color: #black;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #black;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #black;
    color: black;
}
</style>
</head>

<div class="topnav">
  <a href="https://cmclements19.github.io/second-website/index.html">Home</a>
  <a href="https://cmclements19.github.io/second-website/web2.html">Hobbies/Sports</a>
  <a href="https://cmclements19.github.io/second-website/web3.html">Early Life</a>
</div>
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
<div class="footer">
  <p>Clay Clements - Period 2 - Advanced Website</p>
</div>




